{% extends 'estructura.html'%}
{% block content %}
<br>
<br>
<section class="container">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <!-- BUTTON PARA RETROCESO-->
                            <br>
                            <br>
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group me-2" role="group" aria-label="First group">
                                  <a href="{{url_for('formrecibo')}}"> <button type="button"
                                        class="btn btn-outline-secondary border-2 border_tem"><b><i>Regresar Anterior</i></b></button></a>
                                </div>
                                <div class="btn-group me-2" role="group" aria-label="First group">
                                    <a href="{{url_for('documentrecibo')}}"> <button type="button"
                                          class="btn btn-outline-info border-2 border_tem"><b><i>Document</i></b></button></a>
                                  </div>
                            </div>
                            <div class="card shadow-lg border-3 rounded-lg mt-5 border border-4 border_tem">
                    
                                <div class="card-header"><h2 class="text-center font-weight-light my-4"><b class="text-muted"><i>Recibo</i></b></h2></div>
                                <div class="card-body">
                                    <form method="POST" action="{{url_for('save_data_recibo')}}">
                                        <div class="row mb-3">

                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control  border_tem" id="recibo" name="recibo" type="number" placeholder="Enter your first name" />
                                                    <label for="inputFirstName"><i>N° Recibo</i></label>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <input class="form-control  border_tem" id="fechaexpedicion" name="fechaexpedicion" type="date" placeholder="Enter your last name" />
                                                    <label for="inputLastName"><i>Fecha de expedicion</i></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control  border_tem" id="telefonocliente" name="telefonocliente" type="number" placeholder="Enter your first name" />
                                                    <label for="inputFirstName"><i>Telefono del cliente</i></label>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <input class="form-control  border_tem" id="monto" name="monto" type="number" placeholder="Enter your last name" />
                                                    <label for="inputLastName"><i>Monto Entregado</i></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control  border_tem" id="cantidadletra" name="cantidadletra" type="text" placeholder="Create a password" />
                                                    <label for="inputPassword"><i>Cantidad en letra</i></label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control  border_tem" id="consepto" name="consepto" type="text" placeholder="Confirm password" />
                                                    <label for="inputPasswordConfirm"><i>Concepto<i></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control  border_tem" id="quienentrega" name="quienentrega" type="text" placeholder="Create a password" />
                                                    <label for="inputPassword"><i>Quien entrega</i></label>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control  border_tem" id="quienrecibe" name="quienrecibe" type="text" placeholder="Create a password" />
                                                    <label for="inputPassword"><i>Quien recibe</i></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-grid gap-2">
                                            <button class="btn btn-outline-secondary border-2 border_tem"><i>Agregar Registro</i></button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="login.html"></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

</section>

{% endblock %}