{% extends 'estructura.html'%}
{% block content %}
<!-- HEREDA DE UNA BASE-->
<!-- EL CONTENEDOR -->
<br>
<br>
<section class="container">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-2">
                <h3 class="mt-4"><b class="text-muted"><i>Lista de Ventas</i></b></h3>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group me-2" role="group" aria-label="First group">
                      <a href="{{url_for('formplanventa')}}"> <button type="button"
                            class="btn btn-outline-secondary border-2 border_tem"><b><i>Registrar</i></b></button></a>
                    </div>
                </div>
                <br>
                <div class="card mb-4 border border-3 border_card">
                    <div class="card-header text-muted">
                        <i class="fas fa-table me-1"></i>
                        Tabla de Registros
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr class="table-info">
                                    <th><i>Cuenta</i></th>
                                    <th><i>Cuota Mensual</i></th>
                                    <th><i>Nombre Cliente</i></th>
                                    <th><i>Domicilio</i></th>
                                    <th><i>Fecha</i></th>
                                    <th><i>Persona</i></th>
                                    <th><i>Ciudad</i></th>
                                    <th><i>Precio</i></th>
                                    <th><i>Equipos</i></th>
                                    <th><i>Document</i></th>
                                    <th><i>Opciones</i></th>
                                    
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th><i>Cuenta</i></th>
                                    <th><i>Cuota Mensual</i></th>
                                    <th><i>Nombre Cliente</i></th>
                                    <th><i>Domicilio</i></th>
                                    <th><i>Fecha</i></th>
                                    <th><i>Persona</i></th>
                                    <th><i>Ciudad</i></th>
                                    <th><i>Precio</i></th>
                                    <th><i>Equipos</i></th>
                                    <th><i>Document</i></th>
                                    <th><i>Opciones</i></th>

                                </tr>
                            </tfoot>
                            <tbody>
                                {% set contador_venta=namespace( value=0) %}
                                {% for data in elemento_registros_venta %}
                                    <tr>
                                        <td>{{data.cuenta}}</td>
                                        <td>{{data.cuotamensual}}</td>
                                        <td>{{data.nombrecliente}}</td>
                                        <td>{{data.domicilio}}</td>
                                        <td>{{data.fecha}}</td>
                                        <td>{{data.persona}}</td>
                                        <td>{{data.ciudad}}</td>
                                        <td>{{data.precio}}</td>
                                        <td>{{data.equipos}}</td>
                                        <th>
                                            <a href="{{url_for('documentventa')}}" class="btn btn-outline-success">Imprimir</a>
                                        </th>
                                        <td>
                                            <a class="dltBtnv btn btn-outline-danger border_tem" data-id="{{ lista_indice_final_venta[contador_venta.value] }}" href="javascript:void(0)">Eliminar</a>
                                        </td>
                                    </tr>
                                    {% set contador_venta.value=contador_venta.value + 1 %}
                                {% endfor%} 
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</section>

    <!-- VENTANA EMERGENTE  PARA ELIMINAR VENTANA-->
    {% block eliminar_ventana %}
    <!-- ----------------Estas librerias son necesarias para la ventana modal------------------------------------------>
        <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
        <script src="/static/js/delete.js"></script>
    {% endblock %}

{% endblock %}
